apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "openclaw.fullname" . }}-config
  labels:
    {{- include "openclaw.labels" . | nindent 4 }}
data:
  base-openclaw.json: |
    {{- if .Values.openclawConfig }}
    {{- toJson .Values.openclawConfig | nindent 4 }}
    {{- else }}
    {}
    {{- end }}
